<h4>{{ _('Fan Speed Slider') }}</h4>
<div>
    <p>{{ _('Set the default value for the fan speed slider.') }}</p>
</div>
<div>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">{{ _('Default Value') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="0" max="100" class="input-mini" data-bind="value: settings.plugins.fanspeedslider.fanSpeed">
                    <span class="add-on">%</span>
                </div>
                <span class="help-inline">{{ _('This value does <i><b>not</b></i> affect the maximum or minimum value the fan will run at. To limit the power the fan will use during a print, see your slicer\'s settings.') }}</span>
            </div>
        </div>
    </form>
</div>
