<h3>{{ _('Fan Speed Control') }}</h3>
<div>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">{{ _('Default Value') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="0" max="100" class="input-mini" data-bind="attr: { title: defaultTitle }, value: settings.plugins.fanspeedslider.defaultFanSpeed">
                    <span class="add-on">%</span>
                </div>
                <span class="help-block">{{ _('The default value the slider will be set to when opening OctoPrint\'s UI') }}</span>
            </div>
        </div>
        <!--<strong>{{ _('The settings below can be used to limit the fan\'s output without having to re-slice and re-upload your gcode.') }}</strong>-->
        <div class="control-group">
            <label class="control-label">{{ _('Minimum Speed') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="0" max="100" class="input-mini" data-bind="attr: { title: minTitle }, value: settings.plugins.fanspeedslider.minSpeed">
                    <span class="add-on">%</span>
                </div>
                <span class="help-block">{{ _('Any value sent which is below this value will be increased to meet this speed. Useful if your fan doesn\'t work below a certain threshold.') }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Maximum Speed') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="0" max="100" class="input-mini" data-bind="attr: { title: maxTitle }, value: settings.plugins.fanspeedslider.maxSpeed">
                    <span class="add-on">%</span>
                </div>
                <span class="help-block">{{ _('Any value sent which is above this value will be decreased to meet this speed. Useful if your fan is too strong on full speed.') }}</span>
            </div>
        </div>
        <p><i>{{ _('NOTE: The min/max setting has no effect when you are printing from an SD card that is attached directly to the printer as the gcode does not pass through OctoPrint.') }}</i></p>
        <h3>{{ _('Notification Auto Hide Delay') }}</h3>
        <div class="control-group">
            <label class="control-label">{{ _('Notification Autohide Delay') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="0" class="input-mini" data-bind="attr: {title: noticeTitle }, value: settings.plugins.fanspeedslider.notifyDelay">
                    <span class="add-on">ms</span>
                </div>
                <span class="help-block">{{ _('Delay (in milliseconds) before notifications are auto-hidden. Set to 0 to disable notifications.') }}</span>
            </div>
        </div>
    </form>
</div>
