<h3>{{ _('Fan Speed Control') }}</h3>
<div>
    <form class="form-horizontal">
        <p>{{ _('Set the default value for the speed slider.') }}</p>
        <div class="control-group">
            <label class="control-label">{{ _('Default Value') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="0" max="100" class="input-mini" data-bind="value: settings.plugins.fanspeedslider.fanSpeed">
                    <span class="add-on">%</span>
                </div>
                <span class="help-block">{{ _('The default value the slider will be set to when opening OctoPrint\'s UI') }}</span>
            </div>
        </div>
        <p>{{ _('The settings below can be used to limit the fan\'s output, this is useful if your slicer doesn\'t allow min / max fan speeds.') }}</p>
        <div class="control-group">
            <label class="control-label">{{ _('Minimum Speed') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="0" max="100" class="input-mini" data-bind="value: settings.plugins.fanspeedslider.minSpeed">
                    <span class="add-on">%</span>
                </div>
                <span class="help-block">{{ _('Any value set by the slicer which is below this value will be increased to meet this speed.') }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Maximum Speed') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="0" max="100" class="input-mini" data-bind="value: settings.plugins.fanspeedslider.maxSpeed">
                    <span class="add-on">%</span>
                </div>
                <span class="help-block">{{ _('Any value set by the slicer which is above this value will be decreased to meet this speed.') }}</span>
            </div>
        </div>
        <p><i>{{ _('NOTE: The min/max setting has no effect when you are printing from an SD card attached directly to the printer as the gcode does not pass through OctoPrint. In the case of printing from SD, you will be required to use a slicer that allows for seting the min / max speed.') }}</i></p>
    </form>
</div>
